apiVersion: apps/v1
kind: Deployment
metadata:
  name: cicd-demo
spec:
  selector:
    matchLabels:
      app: cicd-demo
  template:
    metadata:
      labels:
        app: cicd-demo
    spec:
      containers:
      - name: cicd-demo
        image: dockershubha9051/mydocker:c7af8faad48a2261ede30b8cd7ccb35b7b2a515f
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
          requests:
            memory: "64Mi"
            cpu: "250m"
        ports:
        - containerPort: 80
