name: CI/CD React Frontend

on:
  push:
    branches: [ main ]  # Runs only on main branch push

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout repo
        uses: actions/checkout@v3

      # 2. Log in to Docker Hub
      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      # 3. Build Docker image
      - name: Build Docker image
        run: |
          IMAGE=dockershubha9051/mydocker
          TAG=${GITHUB_SHA}
          docker build -t $IMAGE:$TAG .
          echo "IMAGE_NAME=$IMAGE:$TAG" >> $GITHUB_ENV

      # 4. Push image to Docker Hub
      - name: Push Docker image
        run: docker push ${{ env.IMAGE_NAME }}

      # 5. Update Kubernetes manifests repo
      
